<template>
  <v-container fill-height>
    <v-row justify="center" align="center">
      <v-card width="450px" height="250px">
        <v-col class="pa-0 text-center">
          <v-row class="justify-center">
            <v-card-title class="text-center mt-4 pa-0">{{japaneseWord}}</v-card-title>
          </v-row>

          <!-- <v-row>
            <v-card-text class="mb-10 pa-0">{{dutchWord}}</v-card-text>
          </v-row>-->

          <v-row class="justify-center mt-11">
            <v-form>
              <v-text-field label="Number" type="number" outlined v-model="inputCount"></v-text-field>
            </v-form>
          </v-row>

          <v-row>
            <v-btn absolute right bottom color="success" @click="word">Check</v-btn>
          </v-row>
        </v-col>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import dummyData from "@/data/dummyData.json";

export default {
  name: "Counting",
  data: function() {
    return {
      // dutchWord: dummyData.countingData[0].dutchWord,
      japaneseWord: dummyData.countingData[0].japaneseWord,
      count: dummyData.countingData[0].count,
      inputCount: null
    };
  },
  components: {},
  methods: {
    word() {
      /* eslint-disable no-console */
      console.log(this.inputCount);
      if (this.inputCount == this.count) {
        alert("correct");
        this.inputCount = null;
        this.setRandomWord();
      } else {
        alert("try again");
        return;
      }
    },
    setRandomWord() {
      const newWordIndex = Math.floor(Math.random() * 11);
      console.log(newWordIndex);
      this.japaneseWord = dummyData.countingData[newWordIndex].japaneseWord;
      this.count = dummyData.countingData[newWordIndex].count;
    }
  }
};
</script>
