<template>
  <v-app>
      <Counting></Counting>
  </v-app>
</template>

<script>
import Counting from "./components/Counting";

export default {
  name: "App",
  components: {
    Counting
  },
};
</script>
